body{
    background-color: rgba(255, 255, 255, 0.966);
    overflow-x: hidden;
    

}
#about{
    text-align: center;
    color: cornflowerblue;
    

}
.tex {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tex > .text {
    width: 50%;
    background: rgb(121, 128, 116);
    border-radius: 10px;
    color: white;

}
.tex > .pic {
     width: 30%;
}
.tex > .pic > img {
    width: 100%;
}
.manu{
    display: flex;
    width: 100%;
}
.manu ul li {
   
    padding: 10px;
    background-color: rgba(221, 66, 66, 0.884);
    
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.manu ul {
    
    color: white;
    display: flex;
   
   
}
.manu ul li {
    list-style: none;
    
}
.manu ul :hover{
    background-color: rgb(46, 241, 199);
}
.manu ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    

    
}
.tex img{
    width: 400px;
    border-radius: 15px;
    
    
    
}
.myapp{
    margin-left: 30%;
    height: 30px;
    width: 100px;
    
}
.myapp ul li{
    list-style: none;
    padding: 20px;
}
.myapp ul {
    display: flex;

}
@media(max-width:678px){
    nav{
        justify-content: center;
    }
    .tex {
        flex-direction: column;
       
        
    }
    .tex > .text {
        width: 100%;
    }
    .tex > .pic {
        width: 100%;
    }
    .pic{
        margin-top: 5%;
    }
    .myapp{
        flex-direction: column;
    }

    
    
}


