body{
    background-color: white;

}
.tex{
    display: flex;
    color:black
}
.tex img {
    width: 400px;
    height: 500px;

}
.i{
    text-align: right;
    padding: 10px;
    background-color: rgb(144, 144, 219);
}
.i a{
    margin: 0 1%;
    text-decoration: none;
}
#image-ni{
    width: 400px;
    border-radius: 15px;
    
    
}