body{
    background-color: white;
    overflow-x: hidden;
   
}
.question{
    text-align: center;
    color:blue;

}
.question p{
    color:black;
    

}
.lable{
    margin-top: 50px;
    margin-left: 30%;
}
.contactapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactapp ul {
    display: flex;
}
.contactapp ul li{
    list-style: none;
    padding: 20px;
}
.contactapp ul li a { 

    height: 30px;
    width: 100px;

    
}
.manu{
    display: flex;
    width: 100%;
    
}
.manu ul li {
   
    padding: 10px;
    background-color: rgba(221, 66, 66, 0.884);
    
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.manu ul {
    
    color: white;
    display: flex;
   
   
}
.manu ul li {
    list-style: none;
    
}
.manu ul :hover{
    background-color: rgb(46, 241, 199);
}
.manu ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    

    
}
.nimout{
    margin-top: 5%;
    margin-left: 60%;
}
iframe{
    width: 80%;
    height: 300px;
    margin-top: 50px;
    margin-left: 10%;
}
form{
    margin-left: 18%;
}
input[type="text"]{
    width: 40%;
    height: 40px;
    
}
input[type="password"]{
    width: 81%;
    height: 40px;
}
#class{
    width: 81%;
}
input[type="submit"]{
    width: 10%;
    height: 30px;
    
}

@media(max-width:678px){
   nav {
       justify-content: center;
   }
   form input[type="text"]{
       width: 81%;
       margin-top: 10px;
   }
    
}
