body{
    background-color: white;
   
}
.question{
    text-align: center;
    color:blue;

}
.question p{
    color:black;
    

}

.box-right{
    margin-left: 10%;
    width: 50px;   
}
.contactapp {
    margin-left: 80% 
    
}
.contactapp ul li a{
    width: 50px;
    height: 100px;
}
