body{
    background-color:white;
}
.currin {
    
    display: flex;
    margin-top: 50px;


}
img{
    width: 350px;
    height: 600px;
    margin-left: 100px;
    
}
.hi h1{
    align-items: center;
    color:blue;
}
.hi{
    width: 50%;
    text-align: center;
}
.hi h4,
.hi p {
    color:black;

}
.download{
    width: 150px;
    height: 50px;
   
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(135, 135, 192) ;
    margin-left: 240px;  
}
.download a{
    list-style: none;
    
    

}
.download h4{
    color: black;
}
.download:hover{
    background:rgba(73, 153, 243, 0.884);
    color:white;
    border-radius: 30px;
    
}
.a{
    color:black
}
h3{
    color:white;
  

}
.c{
    text-align: right;
    padding: 10px;
    background-color: rgb(144, 144, 219);
}
.c a{
    margin: 0 1%;
    text-decoration: none;
}
#class{
    width: 50%;
}
#my-picture{
    width: 400px;
    border-radius: 15px;
    margin-top: -4%;
    margin-left: 20%;
    
}
h4{
    margin-right: 63%;
}
.my-paragraph p{
    margin-right: 55%;
}

