body{
    background-color:white;
}
.currin {
    
    display: flex;
    margin-top: 50px;


}
img{
    width: 350px;
    height: 600px;
    margin-left: 100px;
    
}
.hi h1{
    align-items: center;
    color:blue;
}
.hi{
    width: 50%;
    text-align: center;
}
.hi h4,
.hi p {
    color:black;

}
.download{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    margin-left: 240px;  
}
.download h4{
    color: black;
}
.download:hover{
    background:rgba(73, 153, 243, 0.884);
    color:white;
}