
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color:white;

}
.manu ul {
  
    text-align: right;
    color: white;
    display: flex;
    float: right;
}
.manu ul li a{
    margin: 10px;
    list-style: none;
    
   
}
.manu ul li a{
    text-decoration: none;
    padding: 10px;
}
.manu ul li a:hover{
    background:rgb(135, 135, 192);
    color:blue;
}
.text{
    padding: 10px;
    color: blue;
    border: 1px solid white;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -5px;
    margin-right: 500px;
    margin-left: 150px;

}
.text:hover{
    background:rgb(135, 135, 192);
    color:white;
    
}
.tex{
    background-color: rgb(209, 204, 204);
    
}
.tex img{
    padding: 50px;
    margin-right: 100px;
    margin-right:200px ;
}
