
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color:white;

}
.manu ul li {
    text-align: right;
    padding: 10px;
    background-color: rgb(144, 144, 219);
}
.manu ul {
    text-align: right;
    color: white;
    display: flex;
    float: right;
}
.manu ul li {
    list-style: none;
    
}
.manu ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    

    
}

    

.text{
    padding: 10px;
    border: 1px solid  rgb(144, 144, 219);
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -5px;
    margin-right: 500px;
    margin-left: 200px;
    border-radius: 20px;
}

.text:hover{
    background:rgb(144, 144, 219);
    color:white;
    
}


#my-image{
    width: 300px;
    margin-left:35%;
    margin-top: -15%;
    border-radius: 15px;
}
#bg{
    width: 100%;
    height: 600px;
    margin-top: -1%;

}
